# config files
.tweetstreem*
config.json
.tweetstreem.json
!.tweetstreem.json.example

#go exclusion
!*.go

# binaries
tweetstreem*
deploy/

# ide settings
.idea

# build env
env.conf

# coverage reports
coverage.*