# vars for building can be pulled from https://developer.twitter.com/
# when you create an application. Or you can use the released version
# of tweetstreem https://github.com/Setheck/tweetstreem/releases
APP_TOKEN=<twitter app token>
APP_SECRET=<twitter app secret>